{% extends 'base.html' %}

{% block head %}
    <h1>Template</h1>
{% endblock %}

{% block body %}
     <div>

        <div class="fileUpload">
            <p>Upload the schedule here</p>
            <form action = "http://localhost:5000/uploader" method = "POST"
            enctype = "multipart/form-data">
                <input type = "file" name = "file" />
                <input type = "submit"/>
            </form>
        </div>
        <div class="addEvent">
            <p>Add an event</p>
            <form action = "http://localhost:5000/add_event" method = "POST" enctype = "multipart/form-data">
                <label for="ename">Event Name:</label><br>
                    <input type="text" name="Event Name" id="ename"/><br>
                <label for="startdate">Start Date:</label><br>
                    <input type="datetime-local" name="Start Date" id="startdate"/><br>
                <label for="enddate">End Date:</label><br>
                    <input type="datetime-local" name="End Date" id="enddate"/><br>
                <label for="location">Location:</label><br>
                    <input type="text" name="Location Name" id="location"/><br>
                <input type = "submit"/>
            </form>
        </div>

        <div class="validateEvent">
            <p>Validate the event</p>
            <input type="button" name="Validate Event" id="validateevent" value="Validate" onclick=""/>
        </div>

        <div class="listEvents">
            <p>List the upcoming events on a given date</p>
            <form action = "http://localhost:5000/upcoming_events" method = "GET" enctype = "multipart/form-data">
                <label for="eventtime">Choose a date and time:</label>
                    <input type="datetime-local" name="List Events" id="eventtime"  />
                <input type = "submit"/>
            </form>


        </div>

        <div class="listNonCourseEvents">
            <p>List the upcoming events happening in Saint-Etienne that are not courses</p>
            <form action = "http://localhost:5000/list_other_events" method = "GET" enctype = "multipart/form-data">
                <label for="noncourseeventtime">Choose a date and time:</label>
                    <input type="datetime-local" name="List non-course events" id="noncourseeventtime"  />
                <input type = "submit"/>
            </form>

        </div>

        <div class="addAttendee">
            <p>Add an attendee</p>
            <form action = "http://localhost:5000/add_attendee" method = "GET" enctype = "multipart/form-data">
                <label for="aname">Attendee Name:</label><br>
                    <input type="text" name="Event Name" id="aname"/><br>
                <label for="acomment">Comment:</label><br>
                    <input type="text" name="Event Name" id="acomment"/><br>
                <input type = "submit"/>
            </form>
        </div>
    </div>

{% endblock %}